@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Joan', serif;
}
.nav_section{
    background-color: #0a2049;
    width: auto;
    height: 10vh;
    align-items: center;
    display: flex;
    
}
#nav_section{
    width: 100vw;
    position: fixed;
    z-index: 2;
}
.link_items{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.carousel_section{
    width: auto;
    height: 100vh;
    background-color: #fff7ec;
    display: flex;
    align-items: center;
    /* align-items: center;
    position: relative;
    justify-content: center; */
}

.logo_col{
    height: 6rem;
    background-color: #ffffff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    z-index: 3;
    position: fixed;
    top: 0%;
    border: 1px solid rgb(245, 245, 245);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.logo-img{
    width: 7rem;
    
}

.sect1-image{
border: 1px solid grey;
border-radius: 10px;
height: auto;
}
.welcome{
    display: flex;
    justify-content: center;
    font-size: 27px;
    font-weight: 600;
    color: #148b49;
}

.title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #683884;
    margin-bottom: 1rem;
}
.content{
    font-size: 17px;
}

.advice{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.help{
    height: auto;
    width: auto;
    margin-top: 2rem;
    background-color: #0a2049;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.icon{
    display: flex;
    justify-content: center; 
    font-size: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.icon2{
    display: flex;
    justify-content: center; 
    font-size: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #683884;
    
}
#header{
    font-size: 24px;
    font-weight: bold;
}
.icon1{
    display: flex;
    justify-content: center; 
    font-size: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: #c32227;
    
}

.headSection{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    font-size: 28px;
    color: white;
}