*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav_section{
    background-color: #0a2049;
    width: auto;
    height: 10vh;
    align-items: center;
    display: flex;
    
}
#nav_section{
    width: 100vw;
    position: fixed;
}
.link_items{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.carousel_section{
    width: auto;
    height: 100vh;
    background-color: #fff7ec;
    display: flex;
    align-items: center;
    /* align-items: center;
    position: relative;
    justify-content: center; */
}

.logo_col{
    height: 6rem;
    background-color: #ffffff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: fixed;
    top: 0%;
    border: 1px solid rgb(245, 245, 245);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.logo-img{
    width: 7rem;
    
}

.sect1-image{
border: 1px solid grey;
}
.welcome{
    display: flex;
    justify-content: center;
    font-size: 27px;
    font-weight: 600;
    color: #148b49;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #683884;
}

.mission{
    width: 100vw;
    height: 100vh;
}