.topimage1{
    background-image: url(../../Images/donate.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.underline3{
    width: 18vw;
    height: 2px;
    background-color: #c5222a;
    margin-bottom: 30px;
}
.donateways{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.donateicon{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}